{% extends '@Taxe/layout.html.twig' %}

{% block title %}Taxe{% endblock %}

{% block body %}
    <div class="card">
        <h3 class="card-header">{{ taxe.nom }}</h3>

        <div class="card-body">
            {{ include('@Taxe/taxe/_actions.html.twig') }}

            <table class="table table-bordered">
                <tr>
                    <th>Année</th>
                    <th>Fichier</th>
                    <th>Suppression</th>
                </tr>

                {% for exercice in taxe.exercices %}
                    <tr>
                        <td>{{ exercice.annee }}</td>
                        <td>
                            <a href="{{ vich_uploader_asset(exercice, 'file') }}" target="_blank">Télécharger</a>
                        </td>
                        <td>
                            <button name="coucou" type="button" class="btnDelete btn btn-danger btn-sm"
                                    data-bs-toggle="modal"
                                    data-bs-target="#deleteAuthorization"
                                    data-id="{{ exercice.id }}"
                                    data-token="{{ csrf_token('delete' ~ exercice.id) }}">
                                <i class="ti ti-trash"></i> Supprimer
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>

    {{ include('@Taxe/taxe/_delete_form.html.twig') }}
    {{ include('@Taxe/exercice/_delete_form.html.twig') }}
{% endblock %}
