{% extends '@Taxe/layout.html.twig' %}

{% block body -%}

    <div class="card">
        <h3 class="card-header">Liste des users</h3>

        <div class="card-body">
            <a href="{{ path('taxe_user_new') }}" class="btn btn-primary">
                <i class="ti ti-plus"></i> Ajouter un utilisateur
            </a> <br/><br/>

            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Role(s)</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            <a href="{{ path('taxe_user_show', { 'id': user.id }) }}">
                                {{ user.nom }} {{ user.prenom }}
                            </a>
                        </td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.roles | join(',') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
